In [1]:
import pandas as pd

In [40]:
data = pd.read_csv("../데이터(1차)/서울시_지하상가_임대정보.csv", encoding='cp949')

# "연번", "상가번호", "영업업종" column은 데이터 분석에 불필요한 열이라 제외
data = data.loc[:,~data.columns.isin(["연번", "상가번호","영업업종"])]

In [41]:
data

        상가유형   호선      역명  면적(제곱미터)      계약시작일자      계약종료일자       월임대료 사업진행단계
0     개별(일반)  1호선  서울(1)역     33.00  2019-06-20  2024-06-19   380100.0    NaN
1       네트워크  1호선  서울(1)역     12.00  2023-01-16  2028-05-16  3225582.0    NaN
2     개별(일반)  1호선  시청(1)역     29.73  2022-08-02  2027-08-02  3166600.0    NaN
3     개별(일반)  1호선  시청(1)역     57.60  2020-02-01  2025-01-31  1858300.0    NaN
4     개별(일반)  1호선  시청(1)역     25.00  2020-12-31  2026-01-30  2470600.0    NaN
...      ...  ...     ...       ...         ...         ...        ...    ...
1559  개별(일반)  8호선  단대오거리역     54.03  2018-08-31  2023-09-29  7630000.0    NaN
1560  개별(일반)  8호선  단대오거리역     75.09  2021-03-18  2026-04-17  3780000.0    NaN
1561    네트워크  8호선     신흥역     40.00  2022-02-03  2027-05-04  4391715.0    NaN
1562    네트워크  8호선     수진역     40.00  2022-02-03  2027-05-04  4036829.0    NaN
1563    네트워크  8호선     모란역     50.00  2022-02-03  2027-05-04  3770665.0    NaN

[1564 rows x 8 columns]

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564 entries, 0 to 1563
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   상가유형      1564 non-null   object
 1   호선        1564 non-null   object
 2   역명        1564 non-null   object
 3   면적(제곱미터)  1502 non-null   float64
 4   계약시작일자    1254 non-null   object
 5   계약종료일자    1254 non-null   object
 6   월임대료      1134 non-null   float64
 7   사업진행단계    294 non-null    object
dtypes: float64(2), object(6)
memory usage: 97.9+ KB

In [51]:
# 역이름 맞추기
data.역명 = [re.sub(r"\([1-9]\)", "", i) for i in data.역명]

In [59]:
set(data.사업진행단계)

{'1단계. 사업계획 수립중', '2단계. 시설물 점검', '3단계. 감정평가', '4단계. 방침수립', '5단계. 입찰공고', nan}

In [67]:
# 사업진행단계
data.사업진행단계 = data.사업진행단계.fillna(0) # NaN은 0으로 설정
data.사업진행단계 = [int(i[0]) if type(i) == str else i for i in data.사업진행단계]

In [69]:
set(data.호선)

{'1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선'}

In [71]:
len(set(data.역명))

212

In [78]:
sum(data.상가유형 == "공실")

126

In [80]:
vacancy = data[data.상가유형 == "공실"]
set(vacancy.사업진행단계)

{1, 2}

In [83]:
pd.crosstab(vacancy.상가유형, vacancy.호선)

호선    1호선  2호선  3호선  4호선  5호선  6호선  7호선  8호선
상가유형
공실      6    5   14   14   16   25   45    1

In [91]:
pd.crosstab(vacancy.상가유형, vacancy.역명).T.sort_values(by = "공실")

상가유형   공실
역명
강남구청역   1
상도역     1
숙대입구역   1
신당역     1
신정역     1
...    ..
광흥창역    4
이수역     5
석계역     6
청담역     6
동대문역    6

[61 rows x 1 columns]

In [73]:
data.to_csv("../데이터(1차)/서울시_지하상가_임대정보.csv", encoding='cp949', index = False)