In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("../데이터(1차)/서울시_지하철_역정보.xlsx")

# "SUBWAY_ID", "STATN_ID" column은 데이터 분석에 불필요한 열이라 제외
data = data.loc[:,~data.columns.isin(["SUBWAY_ID", "STATN_ID"])]
data.columns = ["지하철역", "호선명"]

In [4]:
data

      지하철역  호선명
0      소요산  1호선
1      동두천  1호선
2       보산  1호선
3    동두천중앙  1호선
4       지행  1호선
..     ...  ...
659     달미  서해선
660     선부  서해선
661     초지  서해선
662     시우  서해선
663     원시  서해선

[664 rows x 2 columns]

In [5]:
len(set(data.호선명))

17

In [6]:
set(data.호선명)

{'1호선',
 '2호선',
 '3호선',
 '4호선',
 '5호선',
 '6호선',
 '7호선',
 '8호선',
 '9호선',
 '경강선',
 '경의중앙선',
 '경춘선',
 '공항철도',
 '서해선',
 '수인분당선',
 '신분당선',
 '우이신설선'}

In [27]:
len(set(data.지하철역))

543

In [26]:
data.to_excel("../데이터(1차)/서울시_지하철_역정보.xlsx", index = False)